[submodule "src/Libs/bili-kernel"]
	path = src/Libs/bili-kernel
	url = https://github.com/Richasy/bili-kernel
[submodule "src/Libs/WinUI.Share"]
	path = src/Libs/WinUI.Share
	url = https://github.com/Richasy/WinUI.Share
[submodule "src/Libs/mpv-winui"]
	path = src/Libs/mpv-winui
	url = https://github.com/Richasy/mpv-winui
