[submodule "src/Libs/mpv-winui"]
	path = src/Libs/mpv-winui
	url = https://github.com/Richasy/mpv-winui
[submodule "src/Libs/WinUI.Share"]
	path = src/Libs/WinUI.Share
	url = https://github.com/Richasy/WinUI.Share
