<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="labs.windows" value="https://pkgs.dev.azure.com/dotnet/CommunityToolkit/_packaging/CommunityToolkit-Labs/nuget/v3/index.json" />
    <add key="community" value="https://pkgs.dev.azure.com/dotnet/CommunityToolkit/_packaging/CommunityToolkit-MainLatest/nuget/v3/index.json" />
    <add key="sergio" value="https://sergio0694.pkgs.visualstudio.com/6c7b7e0e-418e-4e7c-bbf4-75e4cac080a1/_packaging/750607f5-ca8a-4fa8-be3b-103bf5e7acae/nuget/v2/" />
    <add key="dotnet9" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9/nuget/v3/index.json" />
  </packageSources>
    <disabledPackageSources>
        <clear />
    </disabledPackageSources>
</configuration>
