<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap rescap">

    <Identity
      Name="Richasy.Bili.Copilot"
      Publisher="CN=Richasy"
      Version="1.0.0.0" />

    <mp:PhoneIdentity PhoneProductId="87453f96-70e8-4a9a-84af-8856d0327480" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

    <Properties>
        <DisplayName>ms-resource:AppName</DisplayName>
        <PublisherDisplayName>Richasy</PublisherDisplayName>
        <Logo>Assets\Logo\StoreLogo.png</Logo>
    </Properties>

    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.19041.0" />
        <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.19041.0" />
    </Dependencies>

    <Resources>
        <Resource Language="x-generate"/>
    </Resources>

    <Applications>
        <Application Id="App"
          Executable="$targetnametoken$.exe"
          EntryPoint="$targetentrypoint$">
            <uap:VisualElements
              DisplayName="ms-resource:AppName"
              Description="App"
              BackgroundColor="#ffffff"
              Square150x150Logo="Assets\Logo\Square150x150Logo.png"
              Square44x44Logo="Assets\Logo\Square44x44Logo.png">
                <uap:DefaultTile Wide310x150Logo="Assets\Logo\Wide310x150Logo.png"  Square71x71Logo="Assets\Logo\SmallTile.png" Square310x310Logo="Assets\Logo\LargeTile.png" ShortName="ms-resource:AppName">
                    <uap:ShowNameOnTiles>
                        <uap:ShowOn Tile="square150x150Logo"/>
                        <uap:ShowOn Tile="square310x310Logo"/>
                        <uap:ShowOn Tile="wide310x150Logo"/>
                    </uap:ShowNameOnTiles>
                </uap:DefaultTile >
                <uap:SplashScreen Image="Assets\Logo\SplashScreen.png"  BackgroundColor="#ffffff"/>
            </uap:VisualElements>
            <Extensions>

                <!--Specify which CLSID to activate when notification is clicked-->
                <desktop:Extension Category="windows.toastNotificationActivation">
                    <desktop:ToastNotificationActivation ToastActivatorCLSID="E3D99E22-57A2-41B9-BB2D-E1547E68DEBA" />
                </desktop:Extension>

                <!--Register COM CLSID-->
                <com:Extension Category="windows.comServer">
                    <com:ComServer>
                        <com:ExeServer Executable="App\Bili.Copilot.App.exe" DisplayName="哔哩" Arguments="----AppNotificationActivated:">
                            <com:Class Id="E3D99E22-57A2-41B9-BB2D-E1547E68DEBA" />
                        </com:ExeServer>
                    </com:ComServer>
                </com:Extension>
            </Extensions>
        </Application>
    </Applications>

    <Capabilities>
        <rescap:Capability Name="runFullTrust" />
        <Capability Name="privateNetworkClientServer"/>
        <Capability Name="internetClient"/>
        <Capability Name="internetClientServer"/>
    </Capabilities>
</Package>
